#titreMessagerie {
    background-color: var(--vert-trans);
    width: 60%;
    padding: 10px 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.messagerie{
    padding: 40px;
    padding-top: 20px;
    color:  var(--vert);
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background-color: var(--vert-trans);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    min-height: 100px;
    overflow: hidden;
}


.messages{
    float: right;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    width: 59%;
    overflow: auto;
}
#barreEnvoie{
    display: relative;
    margin-right: 10px;
    background-color: var(--bleu-fond);
    padding: 1em;
    border: 2px solid black;    
    border-radius: 30px;
    width: 94%;
    color: black;
    font-size: 16px;
}
#barreEnvoie:hover{
    opacity: 0.85;
}

.gauche{
    float: left;
    width: 60%;
    word-wrap: break-word;
}
.gauche .textMess{
    padding: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    background-color: var(--bleu-fond);
    color: black;
    width: auto;
}
.droite{
    float: right;
    width: 60%;
    word-wrap: break-word;
}
.droite .textMess{
    padding: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    background-color: var(--bleu-fond);
    color: black;
    width: auto;
}

.convs{
    display: inline-block;
}

.poubelle{
    width: 10%;
    margin-bottom: 5px;
    margin-left: 3px;
    border-radius: 10px;
    transition: 0.5s;
}

.poubelleConv{
    width: 10%;
    margin-bottom: 5px;
    margin-left: 3px;
    border-radius: 10px;
    transition: 0.5s;
}
.poubelle:hover,
.poubelleConv:hover{
    background-color: red;
}

.Utilisateur{
    float: left;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    height: 100%;
    width: 40%;
    overflow: auto;
}
.barreDest{
    display: relative;
    margin-right: 5px;
    background-color: var(--bleu-fond);
    padding: 12px;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-size: 16px;
}

#newConv {
    font-size: 16px;
    margin-left: 7px;
}

.dest{
    display: inline-block;
    text-align: left;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    background-color: var(--bleu-fond);
    border-radius: 20px;
}

.dest:hover{
    opacity: 0.85;
}
